version: '3'

services:
  app:
    image: "todo-app:0.1"
    volumes:
      - "./app:/opt/app"
    environment:
      - APP_ENV=development
      - URL_PREFIX=/
      - API_V1_STR=/api/v1
      - SECRET_KEY=changeme
      - ACCESS_TOKEN_EXPIRE_MINUTES=30
      - BACKEND_CORS_ORIGINS=["*"]
      - PROJECT_NAME=TODO
      - POSTGRES_SERVER=db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=changeme
      - POSTGRES_DB=postgres
      - DB_SECRET_KEY=changeme
      - FIRST_SUPERUSER=admin
      - FIRST_SUPERUSER_PASSWORD=changeme
      - TZ=Asia/Tokyo
    logging:
      driver: json-file
      options:
        max-file: "7"
        max-size: "10m"
    #command: sh start.sh
    depends_on:
      - db
    ports:
      - 8000:8000
  
  db:
    image: "postgres:12.1-alpine"
    volumes:
      - ./volumes/postgresql/data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=changeme
      - POSTGRES_DB=postgres
      - TZ=Asia/Tokyo
      - PGTZ=Asia/Tokyo
    logging:
      driver: json-file
      options:
        max-file: "7"
        max-size: "10m"
